@model CategoryPizzaView

<div class="container">

    <form asp-controller="Pizza" asp-action="Update" method="post" class="title-card bg-tabella py-4 px-4">
        @Html.AntiForgeryToken()

        <div class="mb-3 pizza-nome">
            @Model.pizza.nome
        </div>

            <input asp-for="pizza.nome" type="hidden" class="form-control"/>

        <div class="mb-3">
            <label>Descrizione:</label>
            <textarea asp-for="pizza.descrizione" rows="10" class="d-block w-100"></textarea>
            <span asp-validation-for="pizza.descrizione" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Prezzo:</label>
            <input asp-for="pizza.prezzo" type="text" class="form-control"/>
            <span asp-validation-for="pizza.prezzo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Path Immagine:</label>
            <input asp-for="pizza.foto" type="text" class="form-control" />
            <span asp-validation-for="pizza.foto" class="text-danger"></span>
        </div>

        <div>
            <select asp-for="pizza.CategoryId" rows="10" class="d-block mb-3">
                    <option value=""></option>

                @foreach (Category categoria in Model.categories)
                {
                    <option value="@categoria.CategoryId">@categoria.categoria</option>
                }
            </select>
            <span asp-validation-for="pizza.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Ingredienti:</label>
            <select asp-for="IngredientiSelezionati" asp-items="@Model.Ingredienti" multiple size="5" class="form-control">  
            </select>
        </div>

        <button type="submit" class="btn mybutton">Salva</button>
    </form>

</div>
